parameters:
	level: 5
	paths:
		- src
		- tests
	ignoreErrors:
		- '#^Call to an undefined method Github\\Api\\ApiInterface\:\:#'
		- '#^Call to an undefined method Symfony\\Component\\Console\\Output\\OutputInterface\:\:section#'