<!doctype html>
<html lang="en">
<head>
    <title>Github Module Check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Module Check</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3 text-center mb-5">
            Complete
            <form method="POST">
                <input type="hidden" name="mode" value="all"/>
                <input type="submit" value="ok"/>
            </form>
        </div>
        <div class="col-md-3 text-center mb-5">
            By module
            <form method="POST">
                <input type="hidden" name="mode" value="module"/>
                <select name="module">
                    {% for module in modules %}
                        <option value="{{ module }}">{{ module }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="ok"/>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Kpis</th>
            <th scope="col">Desc.</th>
            <th scope="col">License</th>
            <th scope="col">Issues</th>
            <th scope="col">Labels</th>
            <th scope="col">Branch dev</th>
            <th scope="col">Files</th>
            <th scope="col">GH Topics</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}

           {{ component(
                'githubmodulecheckline',
                {
                    line: line,
                    lineNumber: loop.index
                }
            ) }}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
