<!doctype html>
<html lang="en">
<head>
    <title>Github Module Check</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Presthubot</h2>
        </div>
    </div>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Desc.</th>
            <th scope="col">link</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Module Check</td>
                <td>Checks states of modules to reveal for each module all kind of update needed</td>
                <td><a href="{{ path('app_module_check') }}">click here</a></td>
            </tr>
            <tr>
                <td>Repository Check</td>
                <td>Checks states of repositories to reveal for each repository all kind of update needed</td>
                <td><a href="{{ path('app_repository_check') }}">click here</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
